:root {
  --blue: #01266c;
  --gold: #f7c505;
  --yellow: #fbdc74;
  --skyblue: #0071fb;
  --black: #1a1a1a;
}

body {
  margin: 0;
  background-color: var(--black);
  background: linear-gradient(90deg, var(--black) 20px, transparent 1%) 50%,
    linear-gradient(var(--black) 20px, transparent 1%) 50%, #222;
  background-size: 22px 22px;
  background-attachment: fixed;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
}

.light {
  font-family: "Barlow Semi Light", sans-serif;
}

.headtitles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.main_title {
  letter-spacing: -0.0125em;
  font-weight: 900;
  font-size: 6.2em;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
  position: relative;
  z-index: 2;
  margin: 0;
  margin-top: 350px;
}

.main_title_2 {
  color: #222;
  -webkit-text-stroke: 1px white;
  margin-top: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container2 {
  width: 75%;
}

.profilepic {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 15%;
  position: absolute;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.pacman {
  background-color: var(--yellow);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  right: 400px;
  top: 50px;
  animation-name: pacman;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.pacman_mouth {
  width: 150px;
  height: 150px;
  transform: rotate(-45deg);
  background-color: var(--black);
  margin-left: 100px;
}

.pacman_food {
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 350px;
  top: 110px;
  animation-name: food1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.pacman_food_2 {
  right: 225px;
  top: 110px;
  animation-name: food2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.pacman_food_3 {
  right: 100px;
  top: 110px;
  animation-name: food3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.ring {
  border: 30px solid white;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: difference;
  position: absolute;
}

.ring--left {
  border-width: 50px;
  border-color: var(--yellow);
  width: 300px;
  height: 300px;
  left: -200px;
  top: -200px;
}

.ring--down_left {
  border-style: dot-dash;
  left: -100px;
  bottom: -75px;
  border-width: 25px;
  width: 150px;
  height: 150px;
}

.sectiontitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: -0.0125em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

.aboutme {
  margin-top: 350px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  mix-blend-mode: difference;
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
}

.aboutme_desc {
  font-family: "Barlow Light", sans-serif;
  margin: 0;
}

.education {
  text-align: right;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 50px;
}
.desc_semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 450;
  margin: 0;
}

.skills {
  width: 100%;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 50px;
}

.skills_container {
  display: flex;
  justify-content: space-between;
}

.unity {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.MERN-project {
  margin-top: 100px;
}
.ScaledStone_Image {
  border: 6px solid white;
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.twitter {
  color: white;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #55acee;
  font-size: 0.7em;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  text-align: center;
  text-decoration: none;
  color: white;
}
.mb-25 {
  margin-bottom: 25px;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #222;
  margin-top: 150px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.footer_box_contact {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact_me {
  width: 269px;
  margin-top: 25px;
  background-color: #54ba4e;
  padding: 10px;
  -webkit-user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.github {
  background-color: #cd484d;
}

.linkedin {
  background-color: #2969b1;
}

.experience_link {
  text-decoration: none;
  color: white;
}

.skills_box {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
/* @keyframes pacman {
  0%   {right: 400px}
  50% {right: -300px; top: 50px;}
  75% {right: -300px;top: -200px;}
  76% {right:  400px;top: -200px;}
  100% {right: 400px;top: 50px;}
}

@keyframes food1 {
  7%  {top: 110px;background-color: var(--yellow);}
  8%  {background-color: transparent;}
  75%  {background-color: transparent;top: -100px;}
  76%  {background-color: var(--yellow);top: -100px;}
  100% {top: 110px;}
}


@keyframes food2 {
  12%  {top: 110px;background-color: var(--yellow);}
  13%  {background-color: transparent;}
  75%  {background-color: transparent;top: -100px;}
  76%  {background-color: var(--yellow);top: -100px;}
  100% {top: 110px;}
}

@keyframes food3 {
  15%  {top: 110px;background-color: var(--yellow);}
  16%  {background-color: transparent;}
  75%  {background-color: transparent;top: -100px;}
  76%  {background-color: var(--yellow);top: -100px;}
  100% {top: 110px;}
}

 */

/* _______________________________________________________________________________________________________________________________ */

@media screen and (max-width: 1590px) {
  .main_title {
    font-size: 5em;
    margin-top: 275px;
  }

  .main_title_2 {
    margin-top: 2rem;
  }

  .profilepic {
    width: 400px;
    height: 400px;
  }

  .headtitles {
    margin-top: 300px;
  }

  .aboutme {
    margin-top: 250px;
  }

  .sectiontitle {
    font-size: 2.5em;
  }

  p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1428px) {
  .ScaledStone_Image {
    width: 100%;
    margin-top: 50px;
    height: 300px;
  }

  .unity {
    flex-direction: column;
    width: 100%;
  }

  .footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1222px) {
  .ring--down_left {
    bottom: -125px;
  }

  .main_title {
    font-size: 4em;
    margin-top: 250px;
  }

  .main_title_2 {
    margin-top: 2rem;
  }

  .profilepic {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1021px) {
  .skills_container {
    flex-direction: column;
    align-items: center;
  }
  .skills_box {
    justify-content: space-around;
    width: 100%;
    font-size: 1.2em;
  }
  .skills {
    width: 100%;
  }
  .footer_box_contact {
    font-size: 1em;
  }
  .contact_me {
    width: 224px;
  }
}

@media screen and (max-width: 900px) {
  .sectiontitle {
    font-size: 2em;
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 0.9em;
  }

  .main_title {
    font-size: 3em;
    margin-top: 250px;
  }

  .main_title_2 {
    margin-top: 1.2rem;
  }

  .skills_container {
    font-size: 0.8em;
  }

  .education {
    text-align: center;
  }
  .aboutme {
    width: 100%;
  }
  .ring--left {
    width: 200px;
    height: 200px;
    border: 20px solid var(--yellow);
    left: -138px;
    top: -157px;
  }

  .pacman {
    width: 100px;
    height: 100px;
  }

  .pacman_mouth {
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    background-color: var(--black);
    margin-left: 68px;
  }

  .pacman_food,
  .pacman_food_2,
  .pacman_food_3 {
    top: 85px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: auto;

    padding-bottom: 50px;
  }
  .footer_box_contact {
    margin-top: 50px;
  }

  .ring--down_left {
    left: -122px;
    bottom: -55px;
    border-width: 12px;
    width: 134px;
    height: 134px;
  }
}

@media screen and (max-width: 700px) {
  .main_title {
    font-size: 2em;
    margin-top: 195px;
  }

  .main_title_2 {
    margin-top: 1rem;
  }

  .profilepic {
    width: 300px;
    height: 300px;
  }

  .sectiontitle {
    font-size: 1.3em;
  }

  p {
    font-size: 0.6em;
  }

  .aboutme {
    margin-top: 100px;
  }

  .ring--left {
    width: 100px;
    height: 100px;
    border: 20px solid var(--yellow);
    left: -68px;
    top: -76px;
  }

  .headtitles {
    margin-top: 100px;
  }

  .profilepic {
    width: 200px;
    height: 200px;
  }

  .main_title {
    font-size: 1.8em;
    margin-top: 140px;
  }

  .main_title_2 {
    margin-top: 0.8rem;
  }
  .ring--down_left {
    left: -122px;
    top: 320px;
    border-width: 12px;
    width: 134px;
    height: 134px;
  }

  .pacman {
    width: 50px;
    height: 50px;
    right: 200px;
    top: 11px;
  }
  .pacman_mouth {
    width: 50px;
    height: 50px;
    margin-left: 35px;
  }

  .pacman_food,
  .pacman_food_2,
  .pacman_food_3 {
    width: 20px;
    height: 20px;
    top: 28px;
  }
  .pacman_food {
    right: 168px;
  }
  .pacman_food_2 {
    right: 118px;
  }
  .pacman_food_3 {
    right: 58px;
  }
  .twitter {
    color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #55acee;
    font-size: 0.5em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .mb-25 {
    margin-bottom: 15px;
  }
  .ScaledStone_Image {
    margin-top: 30px;
  }

  .footer {
    margin-top: 75px;
  }
  .MERN-project {
    margin-top: 50px;
  }

  .footer_box_contact {
    font-size: 1em;
  }
  .contact_me {
    width: 224px;
  }
}

