:root {
  --blue: #01266c;
  --gold: #f7c505;
  --yellow: #fbdc74;
  --skyblue: #0071fb;
  --black: #1a1a1a;
}

body {
   margin:0;
  background-color: var(--black);
  background: linear-gradient(90deg, var(--black) 20px, transparent 1%) 50%,
    linear-gradient(var(--black) 20px, transparent 1%) 50%, #222;
  background-size: 22px 22px;
  background-attachment: fixed;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
}

.headtitles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.main_title {
  letter-spacing: -0.0125em;
  font-weight: 900;
  font-size: 100px;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
  position: relative;
  z-index: 2;
  margin: 0;
  margin-top: 350px;
}

.main_title_2 {
  color: #222;
  -webkit-text-stroke: 1px white;
  margin-top: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container2 {
  width: 80%;
}

.aboutme {
  margin-top:350px;
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  mix-blend-mode: difference;
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
}

.aboutme .line {
  margin-top: 25px;
  left: 0;
  width: 40%;
  height: 3px;
  background-color: white;
}

.profilepic {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 15%;
  position: absolute;
}

.footer {
   width: 100%;
   height: 150px;
   background-color: #222;
   margin-top: 200px;
}

.info {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 50px;
}
.info-box {
   width: 600px;
}
.info-box2 {
   width: 300px;
}
/* _________________________________________________________________________________________________________________________________________ */
